{% extends "layout.html" %}

{% block content %}
<br>
<br>
<h1 class="mb-2" style="color:rgb(196, 30, 30); text-align:center"><b>Cafe Locations</b></h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 my-3">
        <div class="bg-image text-center">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='plano') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Plano</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    
        <div class="col-md-4 my-3">
        <div class="bg-image text-center ">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='richardson') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Richardson</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    
        <div class="col-md-4 my-3">
        <div class="bg-image text-center">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='arlington') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Arlington</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    </div>


    <div class="row" >
        <div class="col-md-4 my-3">
        <div class="bg-image text-center ">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='lewisville') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Lewisville</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    
        <div class="col-md-4 my-3">
        <div class="bg-image text-center ">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='carrollton') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Carrollton</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    
        <div class="col-md-4 my-3">
        <div class="bg-image text-center">
            <img src="{{url_for('static', filename='images/outside.jpg')}}" class="img-fluid shadow-5-strong w-100" />
            <a href="{{ url_for('cafe', location='murphy') }}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0" style="font-size:40px"> <i>Murphy</i> </p>
                </div>
            </div>
            </a>
        </div>
        </div>
    </div>
</div>



{% endblock %}