{% extends "layout.html" %}
{% block css %}
<style>
    html,
    body {
        height: 100%;
    }

    #wrap {
        min-height: 100%;
    }

    #main {
        overflow: auto;
    }

    .footer {
        position: relative;
        margin-top: -150px;
        height: 150px;
        clear: both;
        padding-top: 20px;
    }
</style>
{% endblock %}
{% block content %}
<br>
<br>
<h1 class="mb-2" style="color:rgb(196, 30, 30); text-align:center"><b>Please choose your location.</b></h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 my-3">
            <div class="bg-image text-center">
                <img src="{{url_for('static', filename='images/planooutside.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong " />
                <a href="{{ url_for('cafe', location='plano') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Plano </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="bg-image text-center ">
                <img src="{{url_for('static', filename='images/outside.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong w-100" />
                <a href="{{ url_for('cafe', location='richardson') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Richardson </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="bg-image text-center">
                <img src="{{url_for('static', filename='images/arlington.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong" />
                <a href="{{ url_for('cafe', location='arlington') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Arlington </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 my-3">
            <div class="bg-image text-center ">
                <img src="{{url_for('static', filename='images/lewisville.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong" />
                <a href="{{ url_for('cafe', location='lewisville') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Lewisville </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="bg-image text-center ">
                <img src="{{url_for('static', filename='images/carrollton.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong" />
                <a href="{{ url_for('cafe', location='carrollton') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Carrollton </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="bg-image text-center">
                <img src="{{url_for('static', filename='images/murphy.jpg')}}"
                    class="img-responsive img-fluid shadow-5-strong w-100" />
                <a href="{{ url_for('cafe', location='murphy') }}">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0" style="font-size:40px">Murphy </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}