{% extends "layout.html" %}

{% block css %}

<style>
    html,
    body {
        background-color: black;
        color: #e0e0e0;
    }
</style>

{% endblock %}

{% block masthead %}

<section id="top"></section>

<div id="intro-example" class="p-5 text-center bg-image " style="background-image: url('../static/images/cafe.jpeg')">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="font-size: 400%"><b> Murphy Cafe</b></h1>
                <h5 class="mb-4" style="font-size: 300%;"><b> Enjoy!</b></h5>
                <a class="btn btn-outline-light btn-lg m-2" href="{{url_for('home', _anchor='locations') }}"
                    role="button" rel="nofollow" style="min-width:150px">Locations</a>
                <a class="btn btn-outline-light btn-lg m-2" href="{{url_for('cafe')}}" role="button"
                    style="min-width:150px">Cafe</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block content%}

<div class="container cafefont" style="padding: 120px">
    <h1 class="mb-2 mt-5" style="color:rgb(196, 30, 30); text-align:center"><b> <i>COMING SOON... </i></b></h1>
</div>
{% endblock %}