{% extends "layout.html" %}
{% set active_page = "about" %}
{% block css %}
<style>
    @media only screen and (max-width: 768px) {
        .center {
            text-align: center;
        }
    }

    html,
    body {
        height: 100%;
    }

    #wrap {
        min-height: 100%;
    }

    #main {
        overflow: auto;
    }

    .footer {
        position: relative;
        margin-top: -150px;
        height: 150px;
        clear: both;
        padding-top: 20px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" style="padding: 20px">
    <h1 class="mt-5 text-center mb-5 animate__animated animate__fadeInUp" style="color: rgb(196, 30, 30)"> <b>Our
            Owners</b> </h1>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="text-center">
                <img src="{{url_for('static', filename='images/farhad.jpg')}}" height="275" width="275"
                    class="img-fluid mb-3">
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="center"> Mohammad Farhad</h2>
            <p class="center" style="font-size: large"> Mohammad Farhad is a founder of Indopak Supermarket and India
                Import. He wanted
                to serve his community by
                offering affordable groceries along with a taste of home. After over two decades, this is still
                his goal. Indopak has grown tremendously and now has multiple supermarkets, butchers, cafes and a
                banquet hall.
                Mohammad Farhad is married with two children.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <div class="text-center">
                <img src="{{url_for('static', filename='images/shawkat.jpg')}}" height="275" width="275"
                    class="img-fluid mb-3">
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="center"> MD Shawkat Ali</h2>
            <p class="center" style="font-size: large"> MD Shawkat Ali is a founder of Indopak Supermarket and India
                Import. Shawkat
                Ali came to the US as a
                student when he was 18 years old. He realised that the Asian grocery business had great potential in
                the DFW area. Since then, six supermarkets have been created in six cities throughout the Dallas-Forth
                Worth metroplex. MD Shawkat Ali is married and has two wonderful children.
            </p>
        </div>
    </div>


    <!-- <div style="margin-bottom: 18%;"></div> -->
</div>
{% endblock %}