{% extends "layout.html" %}

{% block content %}
<div class="container" style="padding: 20px">

    <h1 class="mt-5"> Our Owners</h1>
    
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="{{url_for('static', filename='images/banquet.jpeg')}}" height = "150" width = "215" class= "img-fluid">
        </div>
        <div class="col-md-9">
            <h3> Shawkat Ali</h3>
            <p> MD Shawkat Ali is a founder of Indopak Supermarket and India Import. Shawkat Ali came to the US as a student when he was 18 years old.
                He realised that the Asian grocery business had great potential in the DFW area. Since then, six supermarkets have been created in six cities 
                throughout the Dallas-Forth Worth metroplex. MD Shawkat Ali is married and has two wonderful children.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img src="{{url_for('static', filename='images/banquet.jpeg')}}" height = "150" width = "215" class= "img-fluid">
        </div>
        <div class="col-md-9">
            <h3> Mohammad Farhad</h3>
            <p> salam</p>
        </div>
    </div>


</div>
{% endblock %}