{% extends "layout.html" %}
{% set active_page = "banquet" %}

{% block css %}

<style type="text/css">
  .carou {
    width: 80%;
    height: 50%;
  }

  #gallery {
    padding-top: 100px;
    margin-top: -100px;
  }
</style>

{% endblock %}



{% block masthead %}


<div id="intro-example" class="p-5 text-center bg-image "
  style="background-image: url('../static/images/banquetmast.jpeg')">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 animate__animated animate__fadeInLeft" style="font-size: 350%"><b> Indopak Banquet Hall</b></h1>
        <h5 class="mb-4 animate__animated animate__fadeInRight" style="font-size: 250%"><b>Celebrate with us!</b></h5>
        <div class="d-flex justify-content-center">
          <a class="nav-link mast-head btn btn-outline-light btn-lg m-2"
            href="{{url_for('banquet', _anchor='gallery') }}" role="button" style="max-width: 150px;">View Gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}
<div class="container mt-5 py-4">
  <h1 class="mb-2" style="color:rgb(196, 30, 30); text-align:center"><b> <i>Indopak
        Banquet Hall</i></b></h1>
  <p style="font-size:20px; text-align:center"> <b>SW Green Oaks Blvd, Arlington, TX 76017</b> </p>
  <p style="font-size:20px; text-align:center"> We are ready to give you the celebration of a lifetime! Whether it is a
    wedding, graduation, or birthday party, our banquet hall is the perfect venue. We are known for our amazing ambience
    and incredible service. </p>
  <p style="font-size:20px; text-align:center"> Book your special day with us today!</p>
  <div style=text-align:center>
    <a style="font-size:20px" href="tel:817-513-5588">(817) 513-5588</a>
  </div>
  <div style=text-align:center>
    <a style="font-size:20px; text-align:center"
      href="mailto: indopakbanquethall@gmail.com">indopakbanquethall@gmail.com</a>
  </div>
  <br>
</div>

<section id="gallery">
  <!-- <h1 style="color:rgb(196, 30, 30); text-align:center" class="mb-4 animate__animated animate__fadeInUp">
    <b>Gallery</b>
  </h1> -->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-mdb-ride="carousel">
      <ol class="carousel-indicators">
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"></li>
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3"></li>
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4"></li>
        <li data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="5"></li>
      </ol>

      <div class="carousel-inner" align="center">
        <div class="carousel-item active">
          <img src="{{url_for('static', filename='images/banquet1.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/banquet3.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/banquet4.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/banquet5.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/banquet6.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/banquet7.jpg')}}"
            class="img-fluid d-block carou shadow-5-strong" alt="..." />
        </div>


        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p style="text-align:center">Images from <a href="https://www.facebook.com/indopakbanquet/" target="_blank">Indopak
        Banquet Hall Facebook</a>
      and <a href="https://www.facebook.com/pages/category/Local-Service/Indopakbanquethall-314833875717657/"
        target="_blank">Indopakbanquethall Facebook</a>.
    </p>
  </div>
</section>


{% endblock %}