{% extends "layout.html" %}
{% set active_page = "butcher" %}


{% block masthead %}

<section id="top"></section>

<div id="intro-example" class="p-5 text-center bg-image " style="background-image: url('../static/images/butcher.png')">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 animate__animated animate__fadeInLeft intro-text"><b> Indopak Halal Meat</b></h1>
        <h5 class="mb-4 animate__animated animate__fadeInRight sub-text"><b> The best in the DFW!</b>
        </h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}

<div class="container">
  <div class="container mt-5 py-4">
    <h1 class="mb-2" style="color:rgb(196, 30, 30); text-align:center"><b> Indopak
        Halal Meat  Department</b></h1>
    <p style="font-size:20px; text-align:center"> We provide you with the highest quality Halal meat in the DFW
      Metroplex. From fish to beef, we put our utmost effort into exceeding the standard of meat you deserve. Give us a
      call!</p>

  </div>
  <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
    <div class="col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Plano</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:972-517-7031">(972) 517-7031</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Sunday: 10AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Richardson</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:972-644-7900">(972) 644-7900</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Thursday & Sunday: 9AM - 9:30PM</p>
            <p>Friday & Saturday: 9AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
    <div class=" col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Arlington</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:817-466-2016">(817) 466-2016</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Sunday: 9AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>

    <div class=" col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Carrollton</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:972-323-2002">(972) 323-2002</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Sunday: 10AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
    <div class=" col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Lewisville</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:972-323-2002">(972) 323-2002</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Sunday: 10AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Irving - India Imports</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p><a href="tel:972-252-9721">(972) 252-9721</a></p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>Monday - Sunday: 10AM - 10PM</p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
    <div class="col my-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            <h1> <b>Murphy</b> </h1>
            <h3 style="color:rgb(196, 30, 30)"><i> Phone:</i></h3>
            <p>TBD</p>
            <h3 style="color:green"> <i>Open:</i></h3>
            <p>TBD</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}