{% extends "layout.html" %}
{% set active_page = "home" %}
{% block css %}

<style type="text/css">
  /* Set the size of the div element that contains the map */
  .map {
    height: 350px;
    /* The height is 350 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .strip {
    height: 90%;
    width: 90%;
  }

  #locations {
    padding-top: 90px;
    margin-top: -90px;
  }

  #home {
    padding-top: 90px;
    margin-top: -90px;
  }
</style>

{% endblock %}

{% block masthead %}

<section id="home" class="section">
  <div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('../static/images/homegroc1.jpg')">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 animate__animated animate__fadeInLeft intro-text"><b> Indopak Supermarket</b>
          </h1>
          <h2 class="mb-4 animate__animated animate__fadeInRight sub-text"><b> Welcome!</b></h2>
          <a class="mast-location btn btn-outline-light btn-lg m-2" href="{{url_for('home', _anchor='locations') }}"
            style="min-width:150px">Locations</a>
          <a class="btn btn-outline-light btn-lg m-2" href="{{url_for('cafe')}}" role="button"
            style="min-width:150px">Cafe</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block content %}

  <div class="container mt-5 py-4">
    <h1 class="mb-3" style="color:rgb(196, 30, 30); text-align:center"><b>Our
        Mission</b></h1>
    <p style="font-size:20px; text-align:center"> Welcome to Indopak
      Supermarket! From the beginning, it has been our
      mission to provide quality goods and produce to the DFW community. The love and support we have
      recieved from all over has allowed us to create many more stores and offer many more services. Today we have six
      supermarkets in six cities in the Dallas-Fort Worth Metroplex. We have cafes, butchershops, and a beautiful
      banquet hall. We deeply appreciate all of your support and hope you enjoy! </p>
    <br>
  </div>
</section>
<div class="container-fluid">
  <div class="row py-4 mt-4" style="background-color: rgb(196, 30, 30);">
    <div class="col-md-4 my-3">
      <div class="text-center"> <img src="{{url_for('static', filename='images/pic2.jpg')}}"
          class="img-fluid shadow-5-strong strip" /> </div>
    </div>
    <div class="col-md-4 my-3">
      <div class="text-center"><img src="{{url_for('static', filename='images/pic1.jpg')}}"
          class="img-fluid shadow-5-strong strip" /> </div>
    </div>
    <div class="col-md-4 my-3">
      <div class="text-center"> <img src="{{url_for('static', filename='images/pic3.jpg')}}"
          class="img-fluid shadow-5-strong strip" /></div>
    </div>
  </div>
</div>

<section id="locations" class="section">
  <div class="container mt-4 py-4">
    <h1 style="color:rgb(196, 30, 30); text-align:center" class="mb-4 animate__animated animate__fadeInUp">
      <b>Locations</b>
    </h1>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-k9-SjNOqvY_GhDQvSOk_bPQEoOMWDAQ&callback=initMap&libraries=&v=weekly"
      defer>
    </script>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Plano
        const plano = {
          lat: 33.05760705427325,
          lng: -96.73213424412899
        };
        // The map, centered at Plano
        const map1 = new google.maps.Map(document.getElementById("map1"), {
          zoom: 18,
          center: plano,
        });
        // The marker, positioned at Plano
        const marker1 = new google.maps.Marker({
          position: plano,
          map: map1,
        });
        // The location of Richardson
        const richardson = {
          lat: 32.94788595966537,
          lng: -96.72925184045685
        };
        // The map, centered at Richardson
        const map2 = new google.maps.Map(document.getElementById("map2"), {
          zoom: 18,
          center: richardson,
        });
        // The marker, positioned at Richardson
        const marker2 = new google.maps.Marker({
          position: richardson,
          map: map2,
        });
        // The location of Arlington
        const arlington = {
          lat: 32.65851369899025,
          lng: -97.11733735764683
        };
        // The map, centered at Arlington
        const map3 = new google.maps.Map(document.getElementById("map3"), {
          zoom: 18,
          center: arlington,
        });
        // The marker, positioned at Arlington
        const marker3 = new google.maps.Marker({
          position: arlington,
          map: map3,
        });
        // The location of Lewisville
        const lewisville = {
          lat: 33.004400701694635,
          lng: -96.99746651531052
        };
        // The map, centered at Lewisville
        const map4 = new google.maps.Map(document.getElementById("map4"), {
          zoom: 18,
          center: lewisville,
        });
        // The marker, positioned at Lewisville
        const marker4 = new google.maps.Marker({
          position: lewisville,
          map: map4,
        });
        // The location of Carrollton
        const carrollton = {
          lat: 32.98198937989808,
          lng: -96.91943367284061
        };
        // The map, centered at Carrollton
        const map5 = new google.maps.Map(document.getElementById("map5"), {
          zoom: 18,
          center: carrollton,
        });
        // The marker, positioned at Carrollton
        const marker5 = new google.maps.Marker({
          position: carrollton,
          map: map5,
        });
        // The location of Murphy
        const murphy = {
          lat: 33.01037652217639,
          lng: -96.62288278818497
        };
        // The map, centered at Murphy
        const map6 = new google.maps.Map(document.getElementById("map6"), {
          zoom: 18,
          center: murphy,
        });
        // The marker, positioned at Murphy
        const marker6 = new google.maps.Marker({
          position: murphy,
          map: map6,
        });
      }
    </script>

    <!-- CARD  -->
    <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
      <div class="col my-3">
        <div class="card h-100">
          <div id="map1" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Plano</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p><a href="tel:972-517-7031">(972) 517-7031</a></p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>2060 W Spring Creek Pkwy #4285, Plano, TX 75023</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>Monday - Sunday: 10AM - 10PM</p>
            </p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <div id="map2" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Richardson</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p><a href="tel:972-644-7900">(972) 644-7900</a></p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>323 E Polk St, Richardson, TX 75081</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>Monday - Thursday & Sunday: 9AM - 9:30PM</p>
              <p>Friday & Saturday: 9AM - 10PM</p>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
      <div class=" col my-3">
        <div class="card h-100">
          <div id="map3" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Arlington</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p><a href="tel:817-466-2016">(817) 466-2016</a></p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>808 SW Green Oaks Blvd, Arlington, TX 76017</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>Monday - Sunday: 9AM - 10PM</p>
            </p>
          </div>
        </div>
      </div>

      <div class="col my-3">
        <div class="card h-100">
          <div id="map4" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Lewisville</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p><a href="tel:972-906-2980">(972) 906-2980</a></p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>297 W Round Grove Rd, Lewisville, TX 75067</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>Monday - Sunday: 10AM - 9:30PM</p>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 text-center" style="font-size: 120%;">
      <div class=" col my-3">
        <div class="card h-100">
          <div id="map5" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Carrollton</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p><a href="tel:972-323-2002">(972) 323-2002</a></p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>112, 1454, 2548 Dickerson Pkwy, Carrollton, TX 75006</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>Monday - Sunday: 10AM - 10PM</p>
            </p>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <div id="map6" class="map"></div>
          <div class="card-body">
            <p class="card-text">
              <h1> <b>Murphy</b> </h1>
              <h3 style="color:green"><i> Phone:</i></h3>
              <p>TBD</p>
              <h3 style="color:rgb(196, 30, 30)"><i> Address:</i></h3>
              <p>416 Village Dr, Murphy, TX 75094</p>
              <h3 style="color:green"> <i>Open:</i></h3>
              <p>TBD</p>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container-fluid">
  <div class="row py-4 mt-5 mb-2" style="background-color: rgb(196, 30, 30);">
    <div class="col-md-4 my-3">
      <div class="bg-image text-center mx-3">
        <img src="{{url_for('static', filename='images/banquetstrip.jpg')}}" class="img-fluid shadow-5-strong w-100" />
        <a href="{{url_for('cafe')}}">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0" style="font-size:35px">Cafe</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 my-3">
      <div class="bg-image text-center mx-3">
        <img src="{{url_for('static', filename='images/butcher3.jpg')}}" class="img-fluid shadow-5-strong w-100" />
        <a href="{{url_for('butcher')}}">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0" style="font-size:35px">Butcher</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 my-3">
      <div class="bg-image text-center mx-3">
        <img src="{{url_for('static', filename='images/banquetstrip.jpg')}}" class="img-fluid shadow-5-strong w-100" />
        <a href="{{url_for('banquet')}}">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0" style="font-size:35px">Banquet Hall</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<section id="faq" class="section">
  <div class="container mt-5 mb-5 py-4">
    <h1 class="animate__animated animate__fadeInUp" style="color:rgb(196, 30, 30); text-align:center"><b>FAQ</b></h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Is it
            Halal?</button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-mdb-parent="#accordionFlushExample">
          <div class="accordion-body">
            Yes! Everything from the meat on the shelves to the cafe is Zabiha Halal.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Can I use EBT?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-mdb-parent="#accordionFlushExample">
          <div class="accordion-body">
            Yes!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Precautions
            for COVID-19?</button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-mdb-parent="#accordionFlushExample">
          <div class="accordion-body text-left">We require all our customers to wear masks within the store. We also
            offer
            curbside
            pickup.</div>
        </div>
      </div>
    </div>
    <br>

  </div>
</section>


{% endblock %}

{% block js %}
<script>
  var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) {
    return p.toString() === "[object SafariRemoteNotification]";
  })(!window['safari'] || (typeof safari !== 'undefined' &&
    window['safari'].pushNotification));
  if (isSafari) {
    $(function () {
      $('.mast-location').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
          this
          .hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000); // The number here represents the speed of the scroll in milliseconds
            return false;
          }
        }
      });
    });
  }
</script>
{% endblock %}